{% extends 'base.html' %}

{% block content %}
    <h1><i class="fi-lock"></i> Réinitialisation du mot de passe</h1>
    {% if validlink %}
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="button" type="submit">Changer le mot de passe</button>
        </form>
    {% else %}
        <div class="callout alert">
            Le lien de réinitialisation du mot de passe est invalide, possiblemnet car il a déjà été utilisé.
            Veuillez recommancer votre demande par ici.
        </div>
        <a class="button text-left" href="{% url 'login' %}">Réinitialiser son mot de passe</a>
    {% endif %}
{% endblock %}