{% extends 'base.html' %}

{% block content %}
  <h1>Mot de passe oublié</h1>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="button" type="submit">Submit</button>
  </form>
{% endblock %}