{% extends 'base.html' %}

{% block content %}
    <h1><i class="fi-lock"></i> Réinitialisation du mot de passe</h1>
    <div class="success callout">
        Votre mot de passe a été modifié. Vous pouvez maintenant vous connecter.
    </div>
    <a class="button text-left" href="{% url 'login' %}">Se connecter</a>
{% endblock %}