{% extends "base.html" %}
{% load render_table from django_tables2 %}
{% load crispy_forms_tags %}

{% block content %}
    <h1><i class="fi-torsos-all-female"></i> Rechercher un utilisateur</h1>
    <div class="secondary callout">
        <form action="" method="get">
            {{ filter.form.media }}
            {{ filter.form.as_p }}
            <input class="button" type="submit"/>
        </form>
    </div>
    {% render_table table %}
{% endblock %}


