{% load staticfiles %}
<header>
    <div class="row fullwidth">
	    <div class="medium-12 small-2 column">
	    	<img src="{% static 'img/dbchiro_main_logo.svg' %}" width="100">
	    </div>
	    <div class="medium-12 small-10 column">
	    	<h1>{{ SITE_NAME }}</h1>
	    </div>
	</div>
</header>