{% load staticfiles %}
<footer id="about" class="footer">
    <div class="row full-width">
        <div class="small-12 medium-4 large-4 columns">
            <i class="fi-at-sign"></i>
            <div class="button-group small" align="center">
                <script>
                    <!--
                    // protected email script by Joe Maller
                    // JavaScripts available at http://www.joemaller.com
                    // this script is free to use and distribute
                    // but please credit me and/or link to my site

                    emailE = 'dbchiro.org'
                    emailE = ('project' + '@' + emailE)
                    document.write('<a class="button success" href="mailto:' + emailE + '?subject=Contact depuis le site dbchiro[.org]' + '">' + '<i class="fi-mail" style="font-size:1em;"></i> Contactez nous' + '</a>')

                    //-->
                </script>
                <a class="button" href="https://dbchiro.org"><i class="fi-web" style="font-size:1em;"></i>
                    dbchiro.org</a>
            </div>
        </div>
        <div class="small-12 medium-4 large-4 columns">
            <i class="fi-mobile"></i>
            <div class="button-group small" align="center">
                <a class="button" href="https://www.djangoproject.com/" target="_blank">Django</a>
                <a class="button warning" href="http://foundation.zurb.com/" target="_blank">Zurb Foundation</a>
                <a class="button success" href="http://leafletjs.com/" target="_blank">Leaflet.js</a>
            </div>
        </div>
        <div class="small-12 medium-4 large-4 columns">
            <i class="fi-info"></i>
            <div class="button-group small ">
                <a class="button" href="https://www.gnu.org/licenses/agpl.html"
                   target="_blank ">Licence AGPLv3</a>
                <a class="button alert " href="https://framagit.org/dbchiro/dbchiroweb"
                   target="_blank ">dbChiro[web]</a>
                <a class="button success " href="https://framagit.org/dbchiro/dbchiroqgis"
                   target="_blank ">dbChiro[QGIS]</a>
            </div>
        </div>
    </div>
    <div class="row full-width">
        <p class="hide-for-small-only">dbChiro[web] est un projet libre (licence
            <a href="https://www.gnu.org/licenses/agpl-3.0.fr.html" target=_blank ">GNU AGPL</a>), les codes sources
            sont disponibles sur <a href="https://framagit.org/dbchiro/dbchiroweb"
                                    target="_blank">FramaGit</a>. Un projet d'exploitation des données avec <a
                    href="https://framagit.org/dbchiro/dbchiroqgis"
                    target="_blank">QGIS</a> est également en cours de développement</p>
    </div>
</footer>
