{% load staticfiles %}
{% load cache %}
{% cache 500 jsload %}
    <script src="{% static 'js/foundation/foundation.min.js' %} "></script>
    <script src="{% static 'js/foundation/responsive-tables.js' %} "></script>
    <script src="{% static 'js/foundation/foundation-datepicker.min.js' %} "></script>
    <script src="{% static 'js/what-input.js' %} "></script>
    <script src="{% static 'js/app.js' %} "></script>
{% endcache %}
<script>
    $(document).foundation();
</script>