{% load staticfiles %}
{% load cache %}
{% cache 500 mainhead %}
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}"/>
    <link rel="stylesheet" href="{% static 'css/foundation.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive-tables.css' %}">
    <link rel="stylesheet" href="{% static 'css/foundation-datepicker.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/font/foundation-icons.css' %}">
    <link rel="stylesheet" href="{% static 'css/font/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/font/MapkeyIcons.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery/jquery-ui.theme.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery/jquery-ui.structure.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery/jquery-ui.min.css' %}">
    <script src="{% static 'js/jquery/jquery.min.js' %}"></script>
    {{ form.media }}
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
{% endcache %}