<!-- Foundation 6 TopBar  http://foundation.zurb.com/sites/docs/top-bar.html#
             Adaptez le à votre besoin -->

<div class="title-bar" data-responsive-toggle="responsive-menu" data-hide-for="medium">
    <button class="menu-icon" type="button" data-toggle="responsive-menu"></button>
    <div class="title-bar-title">Menu</div>
</div>

<div class="top-bar" id="responsive-menu">
    <div class="top-bar-left">
        <ul class="dropdown menu" data-dropdown-menu>
            <li><a href="{% url 'blog:home' %}"><i class="fi-home"></i><span class="hide-for-small-only"> Accueil</span></a>
            </li>
            {# Menus de la barre du haut #}
        <li class="has-submenu">
                    <a href="#"><i class="fi-graph-pie"></i><span
                            class="hide-for-small-only"> En synthèse</span></a>
                    <ul class="submenu menu vertical nested" data-submenu>
                        <li class="has-submenu">
                            <a href="{% url 'synthesis:global_contrib' %}"><i class="fi-graph-trend"></i> Synthèse des contributions</a>
                        </li>
                    </ul>
                </li>
            {% if user.is_authenticated %}
                {# Début du menu des Observations #}
                <li class="has-submenu">
                    <a href="#"><i class="fi-eye"></i><span
                            class="hide-for-small-only"> Observations</span></a>
                    <ul class="submenu menu vertical nested" data-submenu>
                        <li class="has-submenu">
                            <a href="#"><i class="fa fa-map"></i> Localités</a>
                            <ul class="submenu menu vertical" data-submenu>
                                <li><a href="{% url 'sights:place_search' %}"><i class="fi-magnifying-glass"></i>
                                    Rechercher<span
                                            class="hide-for-small-only"> des localités</span></a></li>
                                <li><a href="{% url 'sights:place_map' %}"><i class="fi-map"></i> Carte<span
                                        class="hide-for-small-only"> des localités</span></a></li>
                                {#                                <li><a href="{% url 'place_table' %}" target="_blank"><i class="fi-list-bullet"></i>#}
                                {#                                    Liste<span class="hide-for-small-only"> des localités</span></a></li>#}
                                <li><a href="{% url 'sights:place_create' %}"><i class="fi-plus"></i>
                                    Créer<span class="hide-for-small-only"> une localité</span></a></li>
                            </ul>
                        </li>
                        <li class="has-submenu">
                            <a href="#"><i class="fi-torso"></i> Mes données</a>
                            <ul class="submenu menu vertical" data-submenu>
                                <li><a href="{% url 'sights:place_mylist' %}"><i class="fi-map"></i> Mes
                                    localités</a></li>
                                <li><a href="{% url 'sights:session_mylist' %}"><i class="fi-calendar"></i> Mes
                                    sessions</a></li>
                                <li><a href="{% url 'sights:sighting_mylist' %}"><i class="fi-eye"></i> Mes
                                    observations</a></li>

                            </ul>
                        </li>
                        {% if user.is_resp or user.access_all_data or user.edit_all_data or user.is_staff or user.is_superuser %}
                            <li class="has-submenu">
                                <a href="{% url 'sights:sighting_list' %}"><i class="fi-eye"></i> Liste des observations</a>
                            </li>
                        {% endif %}
                    </ul>
                </li>
                {# Fin du menu des Observations #}
                {# Début du menu de gestion #}
                <li class="has-submenu">
                    <a href="#"><i class="fi-paperclip"></i>
                        <span class="hide-for-small-only"> Gestion</span>
                    </a>

                    <ul class="submenu menu vertical" data-submenu>
                        {% if user.is_resp or user.access_all_data or user.edit_all_data or user.is_staff or user.is_superuser %}
                            <li class="has-submenu">
                                <a href="#"><i class="fi-torsos-all"></i> Observateurs</a>
                                <ul class="submenu menu vertical" data-submenu>
                                    <li><a href="{% url 'accounts:user_search' %}"><i
                                            class="fi-list-bullet"></i> Liste<span class="hide-for-small-only"> des observateurs</span></a>
                                    </li>
                                    <li><a href="{% url 'accounts:user_create' %}"><i class="fi-plus"></i>
                                        Créer<span class="hide-for-small-only"> un nouvel observateur</span></a>
                                    </li>
                                </ul>
                            </li>
                            <li class="has-submenu">
                                <a href="#"><i class="fi-like"></i> Actualités du blog</a>
                                <ul class="submenu menu vertical" data-submenu>
                                    <li><a href="{% url 'blog:actu_create' %}" target="_blank"" target="_blank"><i
                                            class="fi-plus"></i> Créer<span
                                            class="hide-for-small-only"> un nouvel article</span></a>
                                    </li>
                                </ul>
                            </li>
                        {% endif %}
                        <li class="has-submenu">
                            <a href="#"><i class="fi-page"></i> Etudes</a>
                            <ul class="submenu menu vertical" data-submenu>
                                <li><a href="{% url 'management:study_list' %}"><i class="fi-list-bullet"></i>
                                    Liste<span class="hide-for-small-only"> des études</span></a></li>
                                <li><a href="{% url 'management:study_create' %}"><i class="fi-plus"></i>
                                    Créer<span class="hide-for-small-only"> une nouvelle étude</span></a></li>
                            </ul>
                        </li>
                        <li class="has-submenu">
                            <a href="#"><i class="fa fa-podcast"></i> Emetteurs</a>
                            <ul class="submenu menu vertical" data-submenu>
                                <li><a href="{% url 'management:transmitter_list' %}" target="_blank"><i
                                        class="fi-list-bullet"></i> Liste<span class="hide-for-small-only"> des émetteurs télémétriques</span></a>
                                </li>
                                <li><a href="{% url 'management:transmitter_create' %}" target="_blank"><i
                                        class="fi-plus"></i>
                                    Créer<span class="hide-for-small-only"> un nouvel émetteur télémétrique</span></a>
                                </li>
                            </ul>
                        </li>
                        <li class="has-submenu">
                            <a href="#"><i class="fi-like"></i> Arrétés d'autorisations de capture</a>
                            <ul class="submenu menu vertical" data-submenu>
                                <li><a href="{% url 'management:catchauth_list' %}" target="_blank"" target="_blank"><i
                                        class="fi-list-bullet"></i> Liste<span
                                        class="hide-for-small-only"> des arrétés</span></a>
                                </li>
                                <li><a href="{% url 'management:catchauth_create' %}" target="_blank"><i
                                        class="fi-plus"></i>
                                    Ajouter<span class="hide-for-small-only"> un nouvel arrếté</span></a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                {# Fin du menu de gestion #}
                {# Début du menu du compte utilisateur #}
                <li class="has-submenu">
                    <a href="#"><i class="fi-torsos-female-male"></i>
                        <span class="hide-for-small-only"> Mon compte</span>
                    </a>
                    <ul class="submenu menu vertical nested" data-submenu>
                        <li>
                            <a href="{% url 'accounts:myprofile_detail' %}"><i class="fi-torsos-female-male"></i> Mon
                                profil</a>
                        </li>
                        <li>
                            <a href="{% url 'accounts:myprofile_update' %}"><i class="fi-lock"></i> Modifier mon profil</a>
                        </li>
                        <li>
                            <a href="{% url 'accounts:change_password' %}"><i class="fi-lock"></i> Modifier mon mot de
                                passe</a>
                        </li>
                    </ul>
                </li>
                {# Fin du menu du compte utilisateur #}
            {% else %}
                <li><i class="fi-alert"></i> Vous devez vous connecter<span class="hide-for-small-only">  pour saisir vos observations</span>
                </li>
            {% endif %}
            {% if user.is_staff %}
                <li><a href="{% url 'admin:index' %}"><i class="fi-widget"></i><span class="hide-for-small-only"> Administration du site</span><span
                        class="show-for-small-only"> Admin</span></a></li>
            {% endif %}
        </ul>
    </div>
    <div class="top-bar-right">
        <ul class="menu">
            {% if user.is_authenticated %}
                <li>
                    <a href="{% url 'logout' %}">
                        <i class="fa fa-sign-out" aria-hidden="true"></i> Se déconnecter ({{ user.username }})
                    </a>
                </li>
            {% else %}
                <li>
                    <a href="{% url 'password_reset' %}"><i class="fi-first-aid" aria-hidden="true"
                                                            alt="Mot de passe oublié"></i> Mot de passe oublié</a>
                </li>
                <li>
                    <a href="{% url 'login' %}"><i class="fa fa-sign-in" aria-hidden="true" alt="Se connecter"></i> Se
                        connecter</a>
                </li>
            {% endif %}

        </ul>
    </div>
</div>