{% extends "base.html" %}


{% block content %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/Chart.js/0.2.0/Chart.min.js" type="text/javascript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js" type="text/javascript"></script>
    <style>
        .chart-container {
            height: 100vh;
            width: 100vw;
            display: block;
        }
    </style>
    <script type="text/javascript">
        $(document).ready(function () {
            var data = {
                labels: {{ list_year }},
                datasets: [
                    {
                        label: "Contrib during last year",
                        fillColor: "rgba(255,76,65,0.2)",
                        strokeColor: "rgba(220,220,220,1)",
                        pointColor: "rgba(220,220,220,1)",
                        pointStrokeColor: "#ff4c41",
                        pointHighlightFill: "#fff",
                        pointHighlightStroke: "rgba(220,220,220,1)",
                        data: {{ year_contrib }}
                    }
                ]
            };
            var ctx = document.getElementById("myChart").getContext("2d");
            var myLineChart = new Chart(ctx).Line(data);
        });
    </script>
    <div class="row">
        <h1><i class="fi-target"></i> Synthèses</h1>
        <div class="large-12 columns callout">
            <div class="chart-container">
                <canvas id="myChart"></canvas>
            </div>
        </div>
    </div>
{% endblock %}
