{% extends "base.html" %}


{% block content %}
    <link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
    <script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>

    <div class="row">
        <h1><i class="{{ icon|safe }}"></i> {{ title }}</h1>
        <div class="row" style="text-align:center;font-size:1.5rem;padding-top:10px;">
            <div class="columns large-6 medium-12">
                <div class="callout">
                    <p>{{ year_contrib_title }}</p>
                    <div class="ct-chart ct-perfect-fourth" id="yearcontrib"></div>
                </div>
            </div>
            <div class="columns large-6 medium-12">
                <div class="callout">
                    <p>{{ month_contrib_title }}</p>
                    <div class="ct-chart ct-perfect-fourth" id="monthcontrib"></div>
                </div>
            </div>
            <div class="columns large-6 medium-12">
                <div class="callout">
                    <p>{{ contact_contrib_title }}</p>
                    <div class="ct-chart ct-perfect-fourth" id="contactcontrib"></div>
                </div>
            </div>
            <div class="columns large-6 medium-12">
                <div class="callout">
                    <p>{{ territory_contrib_title }}</p>
                    <div class="ct-chart ct-perfect-fourth" id="territorycontrib"></div>
                </div>
            </div>
        </div>

    </div>
    <script>
        new Chartist.Line('#yearcontrib', {
            labels: {{ list_year }},
            series: [{
                name: 'series-1',
                data: {{ year_contrib }},
            }
            ]
        });

        new Chartist.Line('#monthcontrib', {
            labels: {{ list_month|safe }},
            series: [{
                name: 'Données mensuelles',
                data: {{ month_contrib }}
            }]
        });
        new Chartist.Bar('#contactcontrib', {
            labels: {{ list_contact|safe }},
            series: [{
                name: 'Données par types de contacts',
                data: {{ contact_contrib }}
            }]
        });
        new Chartist.Bar('#territorycontrib', {
            labels: {{ list_territory|safe }},
            series: [{
                name: 'Données par types de contacts',
                data: {{ territory_contrib }}
            }]
        });
    </script>
{% endblock %}
