{% extends '../base.html' %}
{% load leaflet_tags %}
{% leaflet_js  plugins="ALL" %}
{% load geojson_tags %}


{% block content %}
    <h1><i class="fi-magnifying-glass"></i> Rechercher une localité</h1>

    <form method="get" action="">
        {{ form.as_p }}
        <input class="button" type="submit" value="Rechercher">

        {% if query %}
            <h3>Results</h3>
            <table class="hover responsive">
                <thead>
                <tr>
                    <th>n°</th>
                    <th>Nom</th>
                    <th>Commune</th>
                    <th>Date de création</th>
                    <th>Créateur</th>
                    <th>Sessions</th>
                </tr>
                </thead>
                {% for result in page.object_list %}

                    <tbody>
                    <th>{{ forloop.counter }}</th>
                    <th><a href="{{ result.object.get_absolute_url }}">{{ result.object.name }}</th>
                    <th>{{ result.object.municipality }}</th>
                    <th>{{ result.object.timestamp_create }}</th>
                    <th>{{ result.object.created_by }}</th>
                    <th>{{ result.object.session_set.all.count }}</th>
                    </tbody>

                {% empty %}
                    <p>No results found.</p>
                {% endfor %}
            </table>
            {% if page.has_previous or page.has_next %}
                <div>
                    {% if page.has_previous %}
                        <a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo;
                    Previous{% if page.has_previous %}</a>{% endif %}
                    |
                    {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}
                    Next &raquo;{% if page.has_next %}</a>{% endif %}
                </div>
            {% endif %}
        {% else %}
            {# Show some example queries to run, maybe query syntax, something else? #}
        {% endif %}
    </form>

{% endblock %}