{% extends 'base_home.html' %} {% block content %}

    <div class="row" style="text-align:center;font-size:1.5rem;padding-top:10px;">
        <div class="columns large-3 medium-6 small-12">
            <div class="callout">
                <i class="{{ placesicon }}"></i> {{ placescount }} {{ placestext }}
            </div>
        </div>
        <div class="columns large-3 medium-6 small-12">
            <div class="callout">
                <i class="{{ sessionsicon }}"></i> {{ sessionscount }} {{ sessionstext }}
            </div>
        </div>
        <div class="columns large-3 medium-6 small-12">
            <div class="callout">
                <i class="{{ sightingsicon }}"></i> {{ sightingscount }} {{ sightingstext }}
            </div>
        </div>
        <div class="columns large-3 medium-6 small-12">
            <div class="callout">
                <i class="{{ observersicon }}"></i> {{ observerscount }} {{ observerstext }}
            </div>
        </div>
    </div>
    <h1>
        <i class="{{ icon | safe }}"></i> {{ title }}
    </h1>
    {% for object in object_list %}
        <div class="columns callout">
            <h2><a href="{% url 'blog:actu_detail' pk=object.id_actu %}"><i
                    class="fi-align-left"></i> {{ object.title }}</a></h2>
            <p style="font-size: 0.8em;">
                {% if user.is_resp or user.access_all_data or user.edit_all_data or user.is_staff or user.is_superuser %}
                    <a href="{% url 'blog:actu_update' pk=object.id_actu %}"><i
                            class="fi-page-edit"></i></a> {% endif %}
                {{ object.author|safe }} | créé le {{ object.timestamp_create }} par {{ object.created_by }}
                {% if object.updated_by %}| mis à jour le {{ object.timestamp_update }} par
                    {{ object.updated_by }}{% endif %}
            </p>
            <div class="secondary callout">{{ object.briefdescr|safe }}</div>
            <p class="text-right"><a href="{% url 'blog:actu_detail' pk=object.id_actu %}" class="button">Lire la suite
                ...</a></p>
        </div>
    {% empty %}
        <div class="columns callout">Aucune actualité pour le moment.</div>
    {% endfor %}
    {% if is_paginated %}
        <div class="button-group tiny">
            {% if page_obj.has_previous %}
                <a class="button" href="{% url 'blog:actu_list' page_obj.previous_page_number %}">Précédent</a>
            {% endif %}
            <a class="hollow button">Page {{ page_obj.number }} sur {{ page_obj.paginator.num_pages }}</a>
            {% if page_obj.has_next %}
                <a class="button" href="{% url 'blog:actu_list' page_obj.next_page_number %}">Suivant</a>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}
