{% load i18n static %}
{% load cache %}
{% load staticfiles %}
<!doctype html>
<html class="no-js" lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- indiquez ici le titre de votre page -->
  <title>{{ SITE_NAME }} - {{ title }}</title>

	{# Inclusion des CSS principaux #}
	{% include "main/head_main_assets.html" %}

	<style>
		header {
			background: url('{% static 'img/header_background.jpg' %}') no-repeat center;
	    }
	    .leaflet-container-default {
	     	min-height: 500px;
	    }
	</style>
</head>
{% load i18n %}

<body>
	{# Inclusion de la barre de menu en haut de page #}
	{% include "main/topbar.html" %}
	{# Inclusion du header de base #}
	{% include "main/base_header.html" %}
	<div class="row">
		<div class="columns">
			{% block content %}
			{% endblock %}
		</div>
	</div>
	{# Inclusion du footer de base #}
	{% include "main/footer.html" %}
    {% include "main/footer_main_assets.html" %}
</body>

</html>
