{% extends 'base.html' %}
{% block content %}
    <h1><i class="{{ icon | safe }}"></i> {{ title|safe }}</h1>
    <form action="" method="post">{% csrf_token %}
        <div class="callout small alert"><b>{{ message_alert }} "{{ object }}"?</b></div>
        <button type="submit" class="button alert" value="Confirm">Confirmer</button>
    </form>
{% endblock %}
