{% extends 'base.html' %}
{% load i18n %}
{% block content %}
    <h1><i class="fa fa-sign-in"></i> Connexion</h1>
    {% if form.errors and not form.non_field_errors %}
        <div class="callout small alert">
            <p class="errornote">
                {% if form.errors.items|length == 1 %}{% trans "Please correct the error below." %}{% else %}
                    {% trans "Please correct the errors below." %}{% endif %}
            </p>
        </div>
    {% endif %}

    {% if form.non_field_errors %}
        <div class="callout small alert">
            {% for error in form.non_field_errors %}
                <p class="errornote">
                    {{ error }}
                </p>
            {% endfor %}
        </div>
    {% endif %}

    <div id="content-main">

        {% if user.is_authenticated %}
            <div class="callout small success">
                <p class="errornote">
                    {% blocktrans trimmed %}
                        You are authenticated as {{ username }}, but are not authorized to
                        access this page. Would you like to login to a different account?
                    {% endblocktrans %}
                </p>
            </div>
        {% endif %}

        <form action="{{ app_path }}" method="post" id="login-form">{% csrf_token %}

            <div class="input-group">
                <span class="input-group-label"><i class="fi-torso"></i></span>
                <input class="input-group-field" name="username" type="text" for="username"
                       placeholder="Votre identifiant">
            </div>
            <div class="input-group">
                <span class="input-group-label"><i class="fi-lock"></i></span>
                <input class="input-group-field" name="password" type="password" for="password"
                       placeholder="Votre mot de passe">
                <div class="input-group-button">
                    <input type="submit" class="button" value="{% trans 'Log in' %}">
                </div>
            </div>

                {#            <div class="form-row">#}
                {#                {{ form.username.errors }}#}
                {#                {{ form.username.label_tag }} {{ form.username }}#}
                {#            </div>#}
                {#            <div class="form-row">#}
                {#                {{ form.password.errors }}#}
                {#                {{ form.password.label_tag }} {{ form.password }}#}
                {#                <input type="hidden" name="next" value="{{ next }}"/>#}
                {#            </div>#}
                {% url 'admin_password_reset' as password_reset_url %}
                {% if password_reset_url %}
                    <div class="password-reset-link">
                        <a href="{{ password_reset_url }}">{% trans 'Forgotten your password or username?' %}</a>
                    </div>
                {% endif %}
        </form>

    </div>
{% endblock %}
{##}
{##}
{#{% block content %}#}
{#    <h1><i class="fa fa-sign-in"></i> Connexion</h1>#}
{#    <!--   <form method="post">#}
{#    {% csrf_token %}#}
{#    {{ form.as_p }} -->#}
{#    <div id="login">#}
{#        <form name="LoginForm" action="/login/" method="post">#}
{#            {% csrf_token %} {% if next %}#}
{#            <input type="hidden" name="next" value="{{ next }}"/> {% endif %}#}
{#            <div class="input-group">#}
{#                <span class="input-group-label"><i class="fi-torso"></i></span>#}
{#                <input class="input-group-field" name="username" type="text" for="username"#}
{#                       placeholder="Votre identifiant">#}
{#            </div>#}
{#            <div class="input-group">#}
{#                <span class="input-group-label"><i class="fi-lock"></i></span>#}
{#                <input class="input-group-field" name="password" type="password" for="password"#}
{#                       placeholder="Votre mot de passe">#}
{#                <div class="input-group-button">#}
{#                    <input type="submit" class="button" value="Connexion">#}
{#                </div>#}
{#            </div>#}
{#        </form>#}
{#    </div>#}
{#{% endblock %}#}
