{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <h1><i class="{{ icon }}"></i> {{ title }}</h1>
    {% if messages %}
        <div class="small callout alert">
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    <b>{{ error_message }}{{ form.errors }}</b>
    <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
        {% crispy form %}
    </form>
    <script type="text/javascript">
    {{ js | safe }}
    </script>
    <br/>
    {{ form.media }}
{% endblock %}

