{% extends 'base_fullwidth_leaflet.html' %}
{% load leaflet_tags %}
{% leaflet_js plugins="ALL" %}
{% load geojson_tags %}
{% load render_table from django_tables2 %}
{% block content %}
    <h1><i class="{{ icon | safe }}"></i> {{ title }}</h1>
    <p>
        <small>Localité créée par <b>{{ object.created_by }}</b> le <b>{{ object.timestamp_create }}</b> et mise
            à jour le <b>{{ object.timestamp_update }}</b></small>
    </p>
    <div class="row">
        <div class="large-5 medium-12 columns">
            <div class="accordion" data-accordion>
                <li class="accordion-item is-active" data-accordion-item>
                    <a class="accordion-title">Informations principales</a>
                    <div class="accordion-content" data-tab-content>
                        <div class="row">
                            <div class="medium-6 small-12 columns">
                                <label>Nom de la localité</label>
                                <div class="small callout">{{ object.name }}</div>
                            </div>
                            <div class="medium-6 small-12 columns">
                                <label>Site sensible</label> {% if object.is_hidden %}
                                <div class="small callout alert"><i class="fi-alert"></i> Site sensible caché</b>
                                    {% if object.authorized_user %}
                                        <a data-toggle="AuthUserListToggle"><i
                                                class="fi-torsos"></i></a>
                                        <div class="dropdown-pane" id="AuthUserListToggle"
                                             data-dropdown>
                                            {% for authuser in object.authorized_user.all %}
                                                <b>{{ authuser.get_full_name }}</b> ({{ authuser.username }})<br/>
                                            {% endfor %}
                                        </div>
                                        {% endif %}
                                        </div>
                                    {% else %}
                                        <div class="small callout">Non</div>
                                    {% endif %}
                            </div>
                            <div class="medium-4 small-12 columns">
                                <label>Précision</label>
                                <div class="small callout">{{ object.precision }}</div>
                            </div>
                            <div class="medium-4 small-12 columns">
                                <label>Altitude</label>
                                <div class="small callout">{% if object.altitude %}{{ object.altitude }}{% else %}-{% endif %}</div>
                            </div>
                            <div class="medium-4 small-12 columns">
                                <label>Domaine</label>
                                <div class="small callout">
                                    {% if object.domain %}
                                        {{ object.domain.descr }}
                                    {% else %}
                                        -
                                    {% endif %}
                                </div>
                            </div>
                            <div class="small-6 columns">
                                <label>Type de gîte</label>{% if object.is_gite is True %}
                                <div class="small callout success">{{ object.type.descr }}</div>
                            {% else %}
                                <div class="small callout">Non</div>
                            {% endif %}
                            </div>
                            <div class="small-6 columns">
                                <label>Site géré</label>{% if object.is_managed %}
                                <div class="small callout success">Oui</div>
                            {% else %}
                                <div class="small callout">Non</div>
                            {% endif %}
                            </div>
                            <div class="small-6 columns">
                                <label>Territoire</label>
                                <div class="small callout">{{ object.territory|safe }}</div>
                            </div>
                            <div class="small-6 columns">
                                <label>Commune</label>
                                <div class="small callout">{{ object.municipality|safe }}</div>
                            </div>
                            <div class="small-12 columns">
                                <label>Coordonnées GPS</label>
                                <div class="small callout">{{ object.x|safe }} ; {{ object.y|safe }}</div>
                            </div>
                            <div class="large-12 columns">
                                {% leaflet_map "map" callback="window.map_init_basic" %}
                            </div>

                        </div>
                    </div>
                </li>
                {% if object.photo_file %}
                    <li class="accordion-item" data-accordion-item>
                        <a class="accordion-title">Photo du site</a>
                        <div class="accordion-content" data-tab-content>
                            <div class="row">
                                <div class="large-12 columns">
                                    <img src="{{ object.photo_file.url }}" width="100%">
                                </div>
                            </div>
                        </div>
                    </li>
                {% endif %}
                <li class="accordion-item" data-accordion-item>
                    <a class="accordion-title">Gîte et refuge</a>
                    <div class="accordion-content" data-tab-content>
                        <div class="row">
                            <div class="medium-4 small-12 columns">
                                <label>Nom du propriétaire</label>
                                <div class="small callout">{{ object.proprietary }}</div>
                            </div>
                            {% if object.convention %}
                                <div class="medium-4 small-12 columns">
                                    <label>Convention refuge</label>
                                    <div class="small callout success">Oui {% if object.convention_file %}
                                        <a href="{{ object.convention_file.url }}" alt="Télécharger la convention"
                                           style="color:black;"> <i class="fi-page-pdf"></i> </a>{% endif %}
                                    </div>
                                </div>
                            {% else %}
                                <div class="medium-8 small-12 columns end">
                                    <label>Convention refuge</label>
                                    <div class="small callout">Non</div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </li>
                {% if object.bdsource %}
                    <li class="accordion-item" data-accordion-item>
                        <a class="accordion-title">Source</a>
                        <div class="accordion-content" data-tab-content>
                            <div class="row">
                                <div class="medium-6 small-12 columns">
                                    <label>Source de la localité</label>
                                    <div class="small callout">{{ object.bdsource }}</div>
                                </div>
                                <div class="medium-6 small-12 columns">
                                    <label>Identifiant de la localité dans la base de donnée source</label>
                                    <div class="small callout">{{ object.id_bdsource }}</div>
                                </div>
                            </div>
                        </div>
                    </li>
                {% endif %}
                {% if object.comment %}
                    <li class="accordion-item" data-accordion-item>
                        <a class="accordion-title">Commentaire</a>
                        <div class="accordion-content" data-tab-content>
                            <div class="row">
                                <div class="large-12 columns">
                                    {{ object.comment|safe }}
                                </div>
                            </div>
                        </div>
                    </li>
                {% endif %}
            </div>
            <script type="text/javascript">
                var marker = {{ object.geom | geojsonfeature | safe }};

                function map_init_basic(map, options) {
                    L.geoJson(marker).addTo(map);
                    map.fitBounds(L.geoJson(marker).getBounds());
                    map.setZoom(13);
                };


            </script>
            <br/>
            <div class="button-group radius">
                <a title="Modifier cette localité" class="button warning"
                   href="{% url 'sights:place_update' pk=object.pk %}">Modifier</a>
                <a title="Supprimer cette localité" class="button alert"
                   href="{% url 'sights:place_delete' pk=object.pk %}">Supprimer</a>
            </div>
        </div>
        <div class="large-7 medium-12 columns">
            <div class="row">
                <div class="large-12 columns">
                    <h3><i class="{{ sessionicon }}"></i> Sessions d'inventaires</h3>
                    {% if sessioncount > 0 %}
                        <div class="input-group">
                            <span class="input-group-label"><i class="fi-info"></i></span>
                            {% ifequal 1 sessioncount %}
                                <input class="input-group-field" type="text" value="{{ sessioncount }} session"
                                       readonly>
                            {% else %}
                                <input class="input-group-field" type="text"
                                       value="{{ sessioncount }} sessions" readonly>
                            {% endifequal %}
                            <div class="input-group-button">
                                <a href="{% url 'sights:session_create' pk=object.pk %}" class="button"
                                   title="Créer une nouvelle session"><i class="fi-plus"></i></a>
                            </div>
                        </div>
                        <div class="table-scroll">
                            {% render_table sessiontable %}
                        </div>


                    {% else %}
                        <div class="input-group">
                            <span class="input-group-label"><i class="fi-info"></i></span>
                            <input class="input-group-field" type="text" value="Aucune session" readonly>
                            <div class="input-group-button">
                                <a href="{% url 'sights:session_create' pk=object.pk %}" class="button"
                                   title="Créer une nouvelle session"><i class="fi-plus"></i></a></div>
                        </div>
                    {% endif %}
                </div>
                {% if placedetail %}
                    <div class="large-12 columns">
                        <h3><i class="{{ placedetailicon | safe }}"></i> {{ placedetailtitle }}</h3>
                        {% if placedetailcount > 0 %}
                            <div class="input-group">
                                <span class="input-group-label"><i class="fi-info"></i></span>
                                {% ifequal 1 placedetailcount %}
                                    <input class="input-group-field" type="text"
                                           value="{{ placedetailcount }} état des lieux" readonly>
                                {% else %}
                                    <input class="input-group-field" type="text"
                                           value="{{ placedetailcount }} états des lieux" readonly>
                                {% endifequal %}
                                <div class="input-group-button">
                                    {% if object.type.category == 'tree' %}
                                        <a href="{% url 'sights:tree_create' pk=object.pk %}" class="button"
                                           title="Créer un nouvel état des lieux"><i class="fi-plus"></i></a>
                                    {% elif object.type.category == 'building' %}
                                        <a href="{% url 'sights:build_create' pk=object.pk %}" class="button"
                                           title="Créer un nouvel état des lieux"><i class="fi-plus"></i></a>
                                    {% elif object.type.category == 'bridge' %}
                                        <a href="{% url 'sights:bridge_create' pk=object.pk %}" class="button"
                                           title="Créer un nouvel état des lieux"><i class="fi-plus"></i></a>
                                    {% elif object.type.category == 'cave' %}
                                        <a href="{% url 'sights:cave_create' pk=object.pk %}" class="button"
                                           title="Créer un nouvel état des lieux"><i class="fi-plus"></i></a>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="table-scroll">
                                {% render_table placedetailtable %}
                            </div>
                        {% else %}
                            <div class="input-group">
                                <span class="input-group-label"><i class="fi-info"></i></span>
                                <input class="input-group-field" type="text" value="Aucun état des lieux"
                                       readonly>
                                <div class="input-group-button">
                                    {% if object.type.category == 'tree' %}
                                        <a href="{% url 'sights:tree_create' pk=object.pk %}" class="button"
                                           title="Créer un nouvel état des lieux"><i class="fi-plus"></i></a>
                                    {% elif object.type.category == 'building' %}
                                        <a href="{% url 'sights:build_create' pk=object.pk %}" class="button"
                                           title="Créer un nouvel état des lieux"><i class="fi-plus"></i></a>
                                    {% elif object.type.category == 'bridge' %}
                                        <a href="{% url 'sights:bridge_create' pk=object.pk %}" class="button"
                                           title="Créer un nouvel état des lieux"><i class="fi-plus"></i></a>
                                    {% elif object.type.category == 'cave' %}
                                        <a href="{% url 'sights:cave_create' pk=object.pk %}" class="button"
                                           title="Créer un nouvel état des lieux"><i class="fi-plus"></i></a>
                                    {% endif %}
                                </div>
                            </div>
                        {% endif %}
                    </div>
                {% endif %}
                {% if object.is_managed %}
                    <div class="large-12 columns">
                        <h3><i class="{{ placemanagementicon | safe }}"></i> {{ placemanagementtitle }}</h3>
                        {% if placemanagementcount > 0 %}
                            <div class="input-group">
                                <span class="input-group-label"><i class="fi-info"></i></span>
                                {% ifequal 1 placemanagementcount %}
                                    <input class="input-group-field" type="text"
                                           value="{{ placemanagementcount }} action de gestion" readonly>
                                {% else %}
                                    <input class="input-group-field" type="text"
                                           value="{{ placemanagementcount }} actions de gestion" readonly>
                                {% endifequal %}
                                <div class="input-group-button">
                                    <a href="{% url 'sights:management_create' pk=object.pk %}" class="button"
                                       title="Créer un nouvel état des lieux"><i class="fi-plus"></i></a>
                                </div>
                            </div>
                            <div class="table-scroll">
                                {% render_table placemanagementtable %}
                            </div>
                        {% else %}
                            <div class="input-group">
                                <span class="input-group-label"><i class="fi-info"></i></span>
                                <input class="input-group-field" type="text" value="Aucune action de gestion"
                                       readonly>
                                <div class="input-group-button">
                                    <a href="{% url 'sights:management_create' pk=object.pk %}" class="button"
                                       title="Créer un nouvel état des lieux"><i class="fi-plus"></i></a>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    </div>
    </div>
    </div>
    <br/> {% endblock %}
