{% extends 'base_leaflet.html' %}
{% load leaflet_tags %}
{% leaflet_js %}
{% leaflet_css %}
{% load geojson_tags %}
{% block content %}
    <h1><i class="fi-map"></i> Carte des localités</h1>
    <div id="progress">
        <div id="progress-bar"></div>
    </div>
    {% leaflet_map "main" %}
    <br/>
    <script type="text/javascript">
        var dataurl = '{% url "api:geodata_place" %}';
        window.addEventListener("map:init", function (event) {
            var markers = L.markerClusterGroup({chunkedLoading: true});

            var style_data = {
                radius: 8,
                fillColor: "#ff4c41",
                color: "#ddd",
                weight: 2,
                opacity: 1,
                fillOpacity: 0.8
            };


            var map = event.detail.map;
            // Download GeoJSON data with Ajax
            fetch(dataurl, {
                credentials: "include"
            })
                .then(function (resp) {
                    return resp.json();
                })
                .then(function (data) {
                    markers.addLayer(L.geoJson(data, {
                        onEachFeature: function onEachFeature(feature, layer) {
                            var props = feature.properties;
                            var content = `<h4>${props.pk} ∙ ${props.name}</h4>
{#        		                				<p>${props.municip}</p>#}
{#        		                				<p>${props.typloc}</p>#}
        		                				<p><a class="button" align="center" style="color:white;" href="/place/${props.pk}/detail" target="_blank" style="font-color:white"><strong>Fiche</strong></a></p>`;
                            layer.bindPopup(content);
                        }
                        ,
                        pointToLayer: function (feature, latlng) {
                            return L.circleMarker(latlng, style_data);
                        }
                    })).addTo(map);
                });
            map.fitBounds(markers.getBounds());
            map.addControl(new L.Control.Fullscreen());
        });
    </script>
{% endblock %}
