{% extends "base.html" %}
{% load render_table from django_tables2 %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block content %}
    <h1><i class="fi-map"></i> Rechercher une localité</h1>
    <div class="secondary callout">
        <form action="" method="get">
            {{ filter.form.media }}
            <link rel="stylesheet" href="{% static 'css/select2-foundation-theme.min.css' %}">
            {{ filter.form.as_p }}
            <input class="button" type="submit"/>
        </form>
    </div>
{#    <script type="text/javascript">#}
{#        $(document).ready(function () {#}
{#            $(".listselect2").select2({#}
{#                placeholder: "Select a state",#}
{#                theme: "foundation"#}
{#            });#}
{#        });#}
{#    </script>#}
    {% render_table table %}
{% endblock %}


