{% extends 'base_fullwidth_leaflet.html' %}
{% load render_table from django_tables2 %}
{% load leaflet_tags %}
{% load geojson_tags %}
{% block content %}
    <h1><i class="{{ icon | safe }}"></i> {{ title | safe }}</h1>
    <p>
        <small>Session créée par <b>{{ object.created_by }}</b> le <b>{{ object.timestamp_create }}</b>
            {% if object.updated_by %}et
                mise à jour le <b>{{ object.timestamp_update }}</b> par <b>{{ object.updated_by }}</b>
                </small>{% endif %}
    </p>
    <div class="row">
        <div class="large-4 medium-6 small-12 columns">
            <div class="accordion" data-accordion>
                <li class="accordion-item is-active" data-accordion-item>
                    <a class="accordion-title">Informations principales</a>
                    <div class="accordion-content" data-tab-content>
                        <div class="row">
                            <div class="medium-6 small-12 columns">
                                <label>Nom de la session</label>
                                <div class="small callout">{{ object.name }}</div>
                            </div>
                            <div class="medium-6 small-12 columns">
                                <label>Méthode utilisée</label>
                                <div class="small callout">{{ object.contact.descr }}</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="medium-4 small-6 columns">
                                <label>Début</label>
                                <div class="small callout">{{ object.date_start }}{% if object.time_start %} {{ object.time_start|time:"H:i"}}{% endif %}</div>
                            </div>
                            <div class="medium-4 small-6 columns">
                                <label>Date de fin</label>
                                <div class="small callout">{% if object.end_start %}{{ object.end_start }}{% if object.time_start %} {{ object.time_start|time:"H:i"}}{% endif %}{% else %}-{% endif %}</div>
                            </div>
                            <div class="medium-4 small-12 columns">
                                <label>Observateur principal</label>
                                <div class="small callout">{{ object.main_observer }}</div>
                            </div>
                        </div>
                        {% if object.is_confidential %}
                            <div class="row">
                                <div class="large-12 columns">
                                    <div class="small callout alert"><i class="fi-caution"></i> Cette session est
                                        confidentielle
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </li>
                <li class="accordion-item" data-accordion-item>
                    <a class="accordion-title">Localité</a>
                    <div class="accordion-content" data-tab-content>
                        <div class="row">
                            <div class="large-12 columns">
                                <div class="medium-6 small-12 columns">
                                    <label>Nom</label>
                                    <div class="small callout">
                                        <a href="{% url 'sights:place_detail' pk=object.place.id_place %}">{{ object.place.id_place }}
                                            / {{ object.place }}</a></div>
                                </div>
                                <div class="medium-6 small-12 columns">
                                    <label>Situation</label>
                                    <div class="small callout">{{ object.place.municipality.name }}
                                        ({{ object.place.territory.code }})
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                {% if object.comment %}
                    <li class="accordion-item" data-accordion-item>
                        <a class="accordion-title">Commentaire</a>
                        <div class="accordion-content" data-tab-content>
                            <div class="row">
                                <div class="large-12 columns">
                                    {{ object.comment|safe }}
                                </div>
                            </div>
                        </div>
                    </li>
                {% endif %}
            </div>
            <script type="text/javascript">
                var marker = {{ object.place.geom | geojsonfeature | safe }};

                function map_init_basic(map, options) {
                    L.geoJson(marker).addTo(map);
                    map.fitBounds(L.geoJson(marker).getBounds());
                    map.setZoom(15);
                };
            </script>
            <br/>
            <div class="button-group radius">
                <a title="Retour à la localité" class="button"
                   href="{% url 'sights:place_detail' pk=object.place.id_place %}"><i class="fi-arrow-left"></i> Retour</a>
                <a title="Modifier cette session" class="button warning"
                   href="{% url 'sights:session_update' pk=object.id_session %}"><i class="fi-page-edit"></i>
                    Modifier</a>
                <a title="Supprimer cette localité" class="button alert"
                   href="{% url 'sights:session_delete' pk=object.id_session %}"><i class="fi-trash"></i> Supprimer</a>
            </div>
        </div>

        <div class="large-8 medium-6 small-12 columns">
            <h3>
                <si class="{{ sightingicon | safe }}"></i> {{ sightingtitle | safe }}
            </h3>
            {% if sightingcount > 0 %}
                <div class="input-group">
                    <span class="input-group-label"><i class="fi-info"></i></span>
                    {% ifequal 1 sightingcount %}
                        <input class="input-group-field" type="text"
                               value="{{ sightingcount }} espèce" readonly>
                    {% else %}
                        <input class="input-group-field" type="text"
                               value="{{ sightingcount }} espèces" readonly>
                    {% endifequal %}
                    <div class="input-group-button">
                        <a href="{% url 'sights:sighting_create' pk=object.pk %}" class="button"
                           title="Créer une observation"><i class="fi-plus"></i></a>
                    </div>
                </div>
                {% if sightingcount > 0 %}

                    {% render_table sightingtable %}

                {% endif %}
            {% else %}
                <div class="input-group">
                    <span class="input-group-label"><i class="fi-info"></i></span>
                    <input class="input-group-field" type="text" value="Aucune observation" readonly>
                    <div class="input-group-button">
                        <a href="{% url 'sights:sighting_create' pk=object.pk %}" class="button"
                           title="Créer une observation"><i class="fi-plus"></i></a>
                    </div>
                </div>
            {% endif %}
        </div>


        <div class="large-8 medium-6 small-12 columns">
            <h3>
                <si class="{{ deviceicon }}"></i> {{ devicetitle }}
            </h3>
            {% if devicecount > 0 %}
                <div class="input-group">
                    <span class="input-group-label"><i class="fi-info"></i></span>
                    {% ifequal 1 devicecount %}
                        <input class="input-group-field" type="text"
                               value="{{ devicecount }} dispositif" readonly>
                    {% else %}
                        <input class="input-group-field" type="text"
                               value="{{ devicecount }} dispositifs" readonly>
                    {% endifequal %}
                    <div class="input-group-button">
                        <a href="{% url 'sights:device_create' pk=object.pk %}" class="button"
                           title="Créer un dispositif"><i class="fi-plus"></i></a>
                    </div>
                </div>
                {% render_table devicetable %}

            {% else %}
                <div class="input-group">
                    <span class="input-group-label"><i class="fi-info"></i></span>
                    <input class="input-group-field" type="text" value="Aucun dispositif" readonly>
                    <div class="input-group-button">
                        <a href="{% url 'sights:device_create' pk=object.pk %}" class="button"
                           title="Créer un dispositif"><i class="fi-plus"></i></a>
                    </div>
                </div>
            {% endif %}

        </div>

    </div>
    <br/> {% endblock %}
