{% extends 'base_fullwidth_leaflet.html' %}
{% load render_table from django_tables2 %}
{% block content %}
    <h1><i class="{{ icon | safe }}"></i> {{ title | safe }}</h1>
    <p>
        <small>Observation créée par <b>{{ object.created_by }}</b> le <b>{{ object.timestamp_create }}</b>
            et mise à jour le <b>{{ object.timestamp_update }}</b></small>
    </p>
    <div class="row">
        <div class="large-6 medium-12 columns">
            <div class="accordion" data-accordion>
                <li class="accordion-item is-active" data-accordion-item>
                    <a class="accordion-title">Informations principales</a>
                    <div class="accordion-content" data-tab-content>
                        <div class="row">
                            <div class="large-6 small-12 columns">
                                <label>Espèce ou groupe d'espèce</label>
                                <div class="small callout">{{ object.codesp }}</div>
                            </div>
                            <div class="large-6 small-12 columns">
                                <label>Effectif compté ou estimé</label>
                                <div class="small callout">{{ object.total_count }}</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="large-4 medium-6 small-12 columns">
                                <label>Colonie de reproduction</label>
                                <div class="small callout">{{ object.breed_colo }}</div>
                            </div>
                            <div class="large-4 medium-6 small-12 columns">
                                <label>Période biologique</label>
                                <div class="small callout">{{ object.period }}</div>
                            </div>
                            <div class="large-4 medium-12 columns">
                                <label>Observateur</label>
                                <div class="small callout">{{ object.observer }}</div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="accordion-item" data-accordion-item>
                    <a class="accordion-title">Session</a>
                    <div class="accordion-content" data-tab-content>
                        <div class="row">
                            <div class="large-6 medium-12 columns">
                                <label>Session</label>
                                <div class="small callout">
                                    <a href="{% url 'sights:session_detail' pk=object.session.id_session %}"
                                       title="Fiche détaillée">{{ object.session }}</a>
                                </div>
                            </div>
                            <div class="large-6 medium-12 columns">
                                <label>Méthode</label>
                                <div class="small callout">{{ object.session.contact.descr }}</div>
                            </div>
                        </div>
                    </div>
                </li>
                {% if object.comment %}
                    <li class="accordion-item" data-accordion-item>
                        <a class="accordion-title">Commentaire</a>
                        <div class="accordion-content" data-tab-content>
                            <div class="row">
                                <div class="large-12 columns">
                                    {{ object.comment|safe }}
                                </div>
                            </div>
                        </div>
                    </li>
                {% endif %}
            </div>
            <br/>
            <div class="button-group radius">
                <a title="Retour à la session" class="button"
                   href="{% url 'sights:session_detail' pk=object.session.id_session %}"><i class="fi-arrow-left"></i>
                    Retour</a>
                <a title="Modifier cette observation" class="button warning"
                   href="{% url 'sights:sighting_update' pk=object.id_sighting %}"><i class="fi-page-edit"></i>
                    Modifier</a>
                <a title="Supprimer cette localité" class="button alert"
                   href="{% url 'sights:sighting_delete' pk=object.id_sighting %}"><i class="fi-trash"></i>
                    Supprimer</a>
            </div>
        </div>

        <div class="large-6 medium-12 columns">
            <h3>
                <si class="{{ countdetailicon | safe }}"></i> {{ countdetailtitle | safe }}
            </h3>
            {% if countdetailcount > 0 %}
                <div class="input-group">
                    <span class="input-group-label"><i class="fi-info"></i></span>
                    {% ifequal 1 countdetailcount %}
                        <input class="input-group-field" type="text"
                               value="{{ countdetailcount }} donnée détaillée"
                               readonly>
                    {% else %}
                        <input class="input-group-field" type="text"
                               value="{{ countdetailcount }} données détaillées"
                               readonly>
                    {% endifequal %}
                    <div class="input-group-button">
                        <a href="{% url 'sights:countdetail_create' pk=object.pk %}" class="button"
                           title="Créer un nouveau relevé détaillé"><i class="fi-plus"></i></a>
                    </div>
                </div>
                {% if countdetailcount > 0 %}

                    {% render_table countdetailtable %}

                {% endif %}
            {% else %}
                <div class="input-group">
                    <span class="input-group-label"><i class="fi-info"></i></span>
                    <input class="input-group-field" type="text" value="Aucune observation" readonly>
                    <div class="input-group-button">
                        <a href="{% url 'sights:countdetail_create' pk=object.pk %}" class="button"
                           title="Créer un nouveau relevé détaillé"><i class="fi-plus"></i></a>
                    </div>
                </div>
            {% endif %}
        </div>


    </div>
    <br/> {% endblock %}
