{% load django_tables2 %}
{% load i18n %}

<div class="table-scroll">
    {% block table %}
        <table{% if table.attrs %} {{ table.attrs.as_html }}{% endif %}>
            {% block table.thead %}
                {% if table.show_header %}
                    <thead>
                    <tr>
                        {% for column in table.columns %}
                            {% if column.orderable %}
                                <th {{ column.attrs.th.as_html }}><a
                                        href="{% querystring table.prefixed_order_by_field=column.order_by_alias.next %}">{{ column.header }}</a>
                                </th>
                            {% else %}
                                <th {{ column.attrs.th.as_html }}>{{ column.header }}</th>
                            {% endif %}
                        {% endfor %}
                    </tr>
                    </thead>
                {% endif %}
            {% endblock table.thead %}
            {% block table.tbody %}
                <tbody>
                {% for row in table.page.object_list|default:table.rows %} {# support pagination #}
                    {% block table.tbody.row %}
                        <tr {{ row.attrs.as_html }}>
                            {% for column, cell in row.items %}
                                <td {{ column.attrs.td.as_html }}>
                                    {% if column.localize == None %}{{ cell }}{% else %}{% if column.localize %}
                                        {{ cell|localize }}{% else %}{{ cell|unlocalize }}{% endif %}{% endif %}</td>
                            {% endfor %}
                        </tr>
                    {% endblock table.tbody.row %}
                {% empty %}
                    {% if table.empty_text %}
                        {% block table.tbody.empty_text %}
                            <tr>
                                <td colspan="{{ table.columns|length }}">{{ table.empty_text }}</td>
                            </tr>
                        {% endblock table.tbody.empty_text %}
                    {% endif %}
                {% endfor %}
                </tbody>
            {% endblock table.tbody %}
            {% block table.tfoot %}
                {% if table.has_footer %}
                    <tfoot>
                    <tr>
                        {% for column in table.columns %}
                            <td {{ column.attrs.tf.as_html }}>{{ column.footer }}</td>
                        {% endfor %}
                    </tr>
                    </tfoot>
                {% endif %}
            {% endblock table.tfoot %}
        </table>
    {% endblock table %}
</div>
{% if table.page %}
    {% with table.page.paginator.count as total %}
        {% with table.page.object_list|length as count %}
            {% block pagination %}
                <div class="button-group tiny">
                    {% if table.page.has_previous %}
                        {% block pagination.previous %}
                                <a class="button" href="{% querystring table.prefixed_page_field=table.page.previous_page_number %}">{% trans "Previous" %}</a>
                        {% endblock pagination.previous %}
                    {% endif %}
                    {% if table.page.has_previous or table.page.has_next %}
                        {% block pagination.cardinality %}
                                <a class="button hollow" href="#">
                                    {% blocktrans with table.page.number as current and table.paginator.num_pages as total %}Page {{ current }} of {{ total }}{% endblocktrans %}
                                </a>
                        {% endblock pagination.cardinality %}
                    {% endif %}

                    {% if table.page.has_next %}
                        {% block pagination.next %}
                                <a class="button" href="{% querystring table.prefixed_page_field=table.page.next_page_number %}">{% trans "Next" %}</a>
                        {% endblock pagination.next %}
                    {% endif %}
                </div>
            {% endblock pagination %}
        {% endwith %}
    {% endwith %}
{% endif %}