{% extends 'base.html' %}
{% load render_table from django_tables2 %}
{% block content %}
    <h1><i class="{{ icon | safe }}"></i> {{ title | safe }}</h1>
    {% if count %}<div class="callout small">{{ counttitle }} : <b>{{ count }}</b></div>{% endif %}
    {% render_table table %}
    <script type="text/javascript">
    {{ js | safe }}
    </script>
    <br/>
{% endblock %}