/* Custom colors from http://flatuicolors.com/ */

@font-face {
    font-family: 'abelregular';
    src: url('abel-regular-webfont.woff2') format('woff2'),
    url('abel-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
    background: #34495e;
}

body {
    background: #ecf0f1;
    color: #333;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font: 10pt "Helvetica Neue", Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6, .button, .footer, .top-bar, .title-bar {
    font-family: "abelregular", "Helvetica Neue", Arial, Helvetica,
    sans-serif;
}

/* Foundation */

.button.primary {
    background-color: #3498db;
    color: #ecf0f1;
}

.button.primary:hover, .button.primary:focus {
    background-color: #2980b9;
    color: #ecf0f1;
}

.button.secondary {
    background-color: #95a5a6;
    color: #ecf0f1;
}

.button.secondary:hover, .button.secondary:focus {
    background-color: #7f8c8d;
    color: #ecf0f1;
}

.button.success {
    background-color: #2ecc71;
    color: #0a0a0a;
}

.button.success:hover, .button.success:focus {
    background-color: #27ae60;
    color: #0a0a0a;
}

.button.warning {
    background-color: #e67e22;
    color: #0a0a0a;
}

.button.warning:hover, .button.warning:focus {
    background-color: #d35400;
    color: #0a0a0a;
}

.button.alert {
    background-color: #e74c3c;
    color: #ecf0f1;
}

.button.alert:hover, .button.alert:focus {
    background-color: #c0392b;
    color: #ecf0f1;
}

.button.hollow {
    border: 1px solid #3498db;
    color: #3498db;
}

.button.hollow, .button.hollow:hover, .button.hollow:focus {
    background-color: transparent;
}

.button.hollow:hover, .button.hollow:focus {
    border-color: #0c3d5d;
    color: #0c3d5d;
}

.button.hollow.primary {
    border: 1px solid #3498db;
    color: #3498db;
}

.button.hollow.primary:hover, .button.hollow.primary:focus {
    border-color: #0c3d5d;
    color: #0c3d5d;
}

.button.hollow.secondary {
    border: 1px solid #95a5a6;
    color: #95a5a6;
}

.button.hollow.secondary:hover, .button.hollow.secondary:focus {
    border-color: #3b3b3b;
    color: #3b3b3b;
}

.button.hollow.success {
    border: 1px solid #2ecc71;
    color: #2ecc71;
}

.button.hollow.success:hover, .button.hollow.success:focus {
    border-color: #157539;
    color: #157539;
}

.button.hollow.warning {
    border: 1px solid #e67e22;
    color: #e67e22;
}

.button.hollow.warning:hover, .button.hollow.warning:focus {
    border-color: #805700;
    color: #805700;
}

.button.hollow.alert {
    border: 1px solid #e74c3c;
    color: #e74c3c;
}

.button.hollow.alert:hover, .button.hollow.alert:focus {
    border-color: #67251a;
    color: #67251a;
}

.button.disabled, .button[disabled] {
    opacity: 0.25;
    cursor: not-allowed;
}

.button.disabled, .button.disabled:hover, .button.disabled:focus, .button[disabled], .button[disabled]:hover, .button[disabled]:focus {
    background-color: #3498db;
    color: #ecf0f1;
}

.button.disabled.primary, .button[disabled].primary {
    opacity: 0.25;
    cursor: not-allowed;
}

.button.disabled.primary, .button.disabled.primary:hover, .button.disabled.primary:focus, .button[disabled].primary, .button[disabled].primary:hover, .button[disabled].primary:focus {
    background-color: #3498db;
    color: #ecf0f1;
}

.button.disabled.secondary, .button[disabled].secondary {
    opacity: 0.25;
    cursor: not-allowed;
}

.button.disabled.secondary, .button.disabled.secondary:hover, .button.disabled.secondary:focus, .button[disabled].secondary, .button[disabled].secondary:hover, .button[disabled].secondary:focus {
    background-color: #95a5a6;
    color: #ecf0f1;
}

.button.disabled.success, .button[disabled].success {
    opacity: 0.25;
    cursor: not-allowed;
}

.button.disabled.success, .button.disabled.success:hover, .button.disabled.success:focus, .button[disabled].success, .button[disabled].success:hover, .button[disabled].success:focus {
    background-color: #2ecc71;
    color: #0a0a0a;
}

.button.disabled.warning, .button[disabled].warning {
    opacity: 0.25;
    cursor: not-allowed;
}

.button.disabled.warning, .button.disabled.warning:hover, .button.disabled.warning:focus, .button[disabled].warning, .button[disabled].warning:hover, .button[disabled].warning:focus {
    background-color: #e67e22;
    color: #0a0a0a;
}

.button.disabled.alert, .button[disabled].alert {
    opacity: 0.25;
    cursor: not-allowed;
}

.button.disabled.alert, .button.disabled.alert:hover, .button.disabled.alert:focus, .button[disabled].alert, .button[disabled].alert:hover, .button[disabled].alert:focus {
    background-color: #e74c3c;
    color: #ecf0f1;
}

.fullWidth {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: initial;
}

header {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    background: #555555;
    color: #ecf0f1;
    box-shadow: 0px 5px 5px 0 rgba(0, 0, 0, 0.2);
}

header h1 {
    font-size: 20px;
}

header img {
    padding-bottom: 5px;
    width: 50px;
}

/*header i {
    font-size: 50px
}*/
header a {
    color: white
}

header a:hover {
    color: #333;
}

header .button {
    background: #ecf0f1;
    color: #333;
    width: 200px;
    padding-left: 2px;
    padding-right: 2px;
    /*height: 100px;
    line-height: 80px;*/
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    /*font-size: 15;*/
}

/*header .button {
	background: #ecf0f1;
	color: #333;
	font-size: 50px;
	width: 100px;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	}*/

@media all and (max-width: 640px) {
    header {
        padding-top: 5px;
        padding-bottom: 5px;
        text-align: center;
        background: #555555;
        color: #ecf0f1;
        box-shadow: 0px 5px 5px 0 rgba(0, 0, 0, 0.2);
    }

    header img {
        padding-bottom: 5px;
        width: 30px;
    }

    header .button {
        background: #ecf0f1;
        color: #333;
        width: 40px;
        padding-left: 2px;
        padding-right: 2px;
        /*height: 100px;
        line-height: 80px;*/
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
        /*font-size: 15;*/
    }

}

header .button:hover {
    background: #2980b9;
    color: #ecf0f1;
}

.title-bar {
    background-color: #34495e;
    color: #ecf0f1;
    box-shadow: 0px 5px 5px 0 rgba(0, 0, 0, 0.2);
}

.top-bar {
    background-color: #34495e;
    box-shadow: 0px 5px 5px 0 rgba(0, 0, 0, 0.2);
    color: #ecf0f1;
    padding-top: 0px;
    padding-bottom: 0px;
    /*    font-size: 15px;*/
}

.top-bar ul {
    background-color: #34495e;
    color: #ecf0f1;
    /*    font-size: 15px;*/
    font-size: 1em;
}

.top-bar a {
    color: #ecf0f1
}

.top-bar a:hover {
    color: #ddd
}

/* .top-bar i {
    font-size: 1em;
} */
.footer {
    background-color: #34495e;
    padding: 2rem 4rem;
    text-align: center;
    color: #ecf0f1;
}

.footer i {
    font-size: 50px;
}

.footer a:hover {
    color: #ddd;
}

.footer h4 {
    color: #ecf0f1;
    font-size: 1em;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 2.5rem;
    margin-bottom: 10px;
}

.footer p, .footer a {
    color: #ecf0f1;
}

@media only screen and (min-width: 640px) {
    .footer .columns:nth-child(n+2) {
        border-left: 1px solid #b3b3b3;
        /*min-height: 100px;*/
    }
}

.footer-links {
    list-style-type: none;
}

.footer-links li {
    margin-top: .5em;
}

@media only screen and (max-width: 640px) {
    .footer i {
        font-size: 50px;
    }
}

.reveal {
    background: rgba(44, 62, 80, 0.8);
    color: #ecf0f1;
}

.reveal .content {
    width: 40em;
    border-radius: 0px;
}

button.radius, .button.radius {
    border-radius: 3px;
}

button .round, .button .round {
    border-radius: 1000px;
}

button-group .radius, .button-group .radius {
    border-radius: 3px;
}

button-group .round, .button-group. round {
    border-radius: 1000px;
}

.accordion-item {
    background: #34495e;
    color: #ecf0f1;
}

.accordion-item a {
    color: #ecf0f1;
    font-family: "abelregular", "Helvetica Neue", Arial, Helvetica,
    sans-serif;
    font-size: 1.2em;
    font-weight: bold;
}

.accordion-item a:hover {
    background: #2c3e50;
    color: #ecf0f1;
}

.accordion-title {
    padding: 0.75rem;
}

.accordion-content a {
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-size: 100%;
    font-weight: normal;
    line-height: inherit;
    color: #1779ba;
    text-decoration: none;
    cursor: pointer;
}

.accordion-content a:hover, a:focus {
    color: #1468a0;
    background: none;
}

.accordion-content a img {
    border: 0;
}

/*TabItems*/

.tab-holder dl, ol, ul {
    list-style-position: outside;
    /*line-height: 0;*/
}

/*.tab-title {*/
    /*padding: 0.75rem;*/
/*}*/

/*.tab-item {*/
    /*background: #34495e;*/
    /*color: #ecf0f1;*/
/*}*/

/*.tab-item a {*/
    /*color: #ecf0f1;*/
    /*font-family: "abelregular", "Helvetica Neue", Arial, Helvetica,*/
    /*sans-serif;*/
    /*font-size: 1.2em;*/
    /*font-weight: bold;*/
/*}*/

/*.tab-item a:hover {*/
    /*background: #2c3e50;*/
    /*color: #ecf0f1;*/
/*}*/

/*table {*/
/*display: block;*/
/*overflow-x: auto;*/
/*white-space: nowrap;*/
/*}*/

/*.table-container {*/
  /*overflow-x: auto; }*/
  /*.table-container table {*/
    /*width: auto; }*/

table caption {
    padding: 0.2rem 0.2rem 0.2rem;
    font-weight: bold;
}

table thead th,
table thead td,
table tfoot th,
table tfoot td {
    padding: 0.2rem 0.2rem 0.2rem;
    font-weight: bold;
    text-align: left;
}

table tbody th,
table tbody td {
    padding: 0.2rem 0.2rem 0.2rem;
}

background-color: #fefefe

;
}

div.table-container {
    display: inline-block;
    position: relative;
    overflow: auto;
}

/* Chart.js */

canvas {
    padding: 10px;
}

.fixedchartheight {
    height: 560px;
}

/* Leaflet */

.leaflet-container-default {
    border-radius: 5px;
    box-shadow: 0px 5px 5px 0 rgba(0, 0, 0, 0.2);
}

@callout {
    a {
        line-height: inherit;
        color: #1779ba;
        text-decoration: none;
        cursor: pointer;
    }

    a:hover, a:focus {
        color: #1468a0;
    }

    a img {
        border: 0;
    }
}

/*.select2-container .select2-selection--multiple {*/
    /*min-width: 100%;*/
    /*height: 2.45rem;*/
/*}*/

/*.select2-container--default .select2-selection--single {*/
    /*background-color: #fff;*/
    /*height: 2.45rem;*/
    /*border: 1px solid #cacaca;*/
    /*border-radius: 0;*/
    /*!*padding: 0.3rem;*!*/
    /*box-sizing: border-box;*/
    /*cursor: pointer;*/
    /*display: block;*/
    /*height: 2.45rem;*/
    /*user-select: none;*/
    /*-webkit-user-select: none;*/
/*}*/

/*.select2-container .select2-selection--single {*/
    /*box-sizing: border-box;*/
    /*cursor: pointer;*/
    /*display: block;*/
    /*height: 2.45rem;*/
    /*user-select: none;*/
    /*-webkit-user-select: none;*/
/*}*/